body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-image: url(hinh/154-4.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*style chung cua header, content, footer*/
.border {
    width: 100%;
    left: 0;
}

/* Header */
.header {
    position: fixed;
    height: 50px;
    background-color: black; 
    color: #fff;
    border-bottom: 5px solid #333;
    top: 0;
    z-index: 10;
}

/* Content */
.content {
    position: relative;
    max-width: 1000px;
    min-height: 490px;
    text-align: left;
    background-color: whitesmoke;
    margin: 20px auto 20px auto;
    border: 1px solid white;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 1px 1px 5px #111;
    -moz-box-shadow: 1px 1px 5px #111;
    -webkit-box-shadow: 1px 1px 5px #111;
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    min-height: 50px;
    background: #222;
    border-top: 5px solid #333;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    bottom: 0;
}

#tb_footer {
    color: white;
    width: 98%;
    margin: 10px;
    margin-bottom: 0;
}

#tb_footer td {
    width: 30%;
}

#tb_footer a {
    color: white;
}

#tb_footer a:hover {
    color: gold;
}

#tb_footer a:active {
    color: green;
}

/*-------------Canh le-------------*/
.mg_center {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/*-----------Style cua cac nut thuoc lop button-------------*/
.button {
    height: 27px;
    background-color: dodgerblue;
    border: 1px solid blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    border: none;
    /*
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    */
}

.button:hover {
    background-color: blue;
    color: yellow;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid mediumblue;
    box-shadow: 1px 1px 5px gray;
    -moz-box-shadow: 1px 1px 5px gray;
    -webkit-box-shadow: 1px 1px 5px gray;
    
    /*
    transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    */
}

/*Lop in noi*/
.highlight {
    color: red;
    font-style: italic;
    font-weight: bolder;
    text-align: right;
}

/*Phan header chua cac thong tin dang nhap*/
#tb_outline_log_reg {
    width: 100%;
    margin-top: 10px;
}

#tb_log_reg td{
    color: white;
    text-align: right;
    padding-right: 25px;
}

.link {
    font-size: 17px;
    line-height: 10px;
    padding-right: 25px;
}

.link a, 
.link a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.link a:hover {
    color: yellow;
    font-weight: bolder;
}

/*Ten cua trang web*/
#web_name {
    width: 50px;
    left: 0;
    font-size: 27px;
    padding: 10px;
    padding-right: 0px;
}

.sub_menuCV {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position: absolute;
}

.sub_menuCV a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sub_menuCV li {
    background-color: #222;
    width: 110px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.sub_menuCV li:hover {
    background-color: #111;
}

.sub_menuCV li:hover a {
    color: yellow;
    font-weight: bolder;
    font-size: 17px;
}

.menuCV:hover .sub_menuCV{
    display: block;
}

#welcome {
    font-weight: bold;
}

#email_log {
    color: yellow;
    height: 40px;
}

#modify_account {
    width: 180px;
}

/*Nut chon cv*/
#create_cv .button {
    width: 150px;
}

/*Nut tai ve*/
#download_cv .button {
    width: 70px;
}

/*Nut login va nut register*/
.bt_log_reg {
    width: 90px;
}

/*Fieldset thong bao cua error va success*/
#fs_announcement {
    width: 700px;
    margin-top: 7%;
    background-color: white;
    color: crimson;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 1px 1px 5px #aaa;
    -moz-box-shadow: 1px 1px 5px #aaa;
    -webkit-box-shadow: 1px 1px 5px #aaa;
}

#error, 
#success {
    background-image: url(hinh/url-1024x576.jpg);
    background-size: contain;
}

#bt_error {
    width: 30px;
}

@media print {
    body {
        background: none;
    }
    
    .header, .footer {
        display: none;
    }
}